<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title ">People</h4>
          <p class="card-category">Contacts, Clients and Suppliers</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Title</th>
                  <th>First Name</th>
                  <th>Surname</th>
                  <th>Address Line 1</th>
                  <th>Address Line 2</th>
                  <th>Address Line 3</th>
                  <th>Post Code</th>
                  <th>Email Address</th>
                  <th>Home Number</th>
                  <th>Mobile Number</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr class="people" (dblclick)="editPeople(people)" *ngFor="let people of peopleList">

                  <ng-container *ngIf="!editPeopleList.includes(people); else editPerson">
                    <td>{{people.title}}</td>
                    <td>{{people.firstName}}</td>
                    <td>{{people.surname}}</td>
                    <td>{{people.address1}}</td>
                    <td>{{people.address2}}</td>
                    <td>{{people.address3}}</td>
                    <td>{{people.postCode}}</td>
                    <td>{{people.emailAddress}}</td>
                    <td>{{people.homePhone}}</td>
                    <td>{{people.mobilePhone}}</td>
                  </ng-container>

                  <ng-template #editPerson>
                    <td><input type="text" name="title" id="title" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.title" placeholder="Title" class="form-control"></td>
                    <td><input type="text" name="firstName" id="firstName" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.firstName" placeholder="First Name" class="form-control"></td>
                    <td><input type="text" name="surname" id="surname" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.surname" placeholder="Surname" class="form-control"></td>
                    <td><input type="text" name="address1" id="address1" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.address1" placeholder="Address Line 1" class="form-control"></td>
                    <td><input type="text" name="address2" id="address2" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.address2" placeholder="Address Line 2" class="form-control"></td>
                    <td><input type="text" name="address3" id="address3" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.address3" placeholder="Address Line 3" class="form-control"></td>
                    <td><input type="text" name="postCode" id="postCode" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.postCode" placeholder="Post Code" class="form-control"></td>
                    <td><input type="text" name="emailAddress" id="emailAddress" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.emailAddress" placeholder="Email Address" class="form-control"></td>
                    <td><input type="text" name="homePhone" id="homePhone" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.homePhone" placeholder="Home Phone" class="form-control"></td>
                    <td><input type="text" name="mobilePhone" id="mobilePhone" (keypress)="submitPeople($event, people)"
                        [(ngModel)]="people.mobilePhone" placeholder="Mobile Phone" class="form-control"></td>
                  </ng-template>

                  <td class="o">
                    <button class="btn btn-primary" (click)="editPeople(people)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deletePeople(people)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">New Person</h4>
          <p class="card-category">Complete the details</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" name="title" id="title" [(ngModel)]="newPeople.title" placeholder="Title"
                    class="form-control">
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" name="firstName" id="firstName" [(ngModel)]="newPeople.firstName"
                    placeholder="First Name" class="form-control">
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" name="surname" id="surname" [(ngModel)]="newPeople.surname" placeholder="Surname"
                    class="form-control">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="address1" id="address1" [(ngModel)]="newPeople.address1" placeholder="Address Line 1"
                  class="form-control">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="address2" id="address2" [(ngModel)]="newPeople.address2" placeholder="Address Line 2"
                  class="form-control">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="address3" id="address3" [(ngModel)]="newPeople.address3" placeholder="Address Line 3"
                  class="form-control">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="postCode" id="postCode" [(ngModel)]="newPeople.postCode" placeholder="Post Code"
                  class="form-control">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="emailAddress" id="emailAddress" [(ngModel)]="newPeople.emailAddress"
                  placeholder="Email Address" class="form-control">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="homePhone" id="homePhone" [(ngModel)]="newPeople.homePhone"
                  placeholder="Home Phone" class="form-control">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput type="text" name="mobilePhone" id="mobilePhone" [(ngModel)]="newPeople.mobilePhone"
                  placeholder="Mobile Phone" class="form-control">
              </mat-form-field>
            </div>

            <button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="create()">Add</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>


    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>